<!doctype html>
<html lang="en">
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="../statics/styles.css"> 
        <title><%= title %></title>
<!-- <script>
    var isNewUser = false;
    function loginTapped() {

    }
</script> -->
</head>
    <body>
        <h1> Welcome to Nuh's TODO's <h1>
            <form action="/login" method='POST' class="login">
                <h2>Log In<h2>
                <input type="text">
                <input type="submit">
        <form> 
    </body>
</html>
