<!doctype html>
<html lang="en">
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="styles.css"> 
        <script type="text/javascript" src="main.js"></script>
</head>
    <body id="root">
        <div class="container">
        <h1 class="title"> Welcome to Nuh's TODO's <h1>
        <div class="buttonWrap">
                <div class="mainButton" id="loginButton" onclick="showLogin();">Log In</div>
                <div class="mainButton" id="createButton" onclick="showCreate();">Sign Up</div>
        </div>
        <form action="/login" method='POST' id="login" class="mainForm">
            <input type="email" name="email" class="mainInput" placeholder="email" required>
            <input type="password" name="password" class="mainInput" placeholder="password" required>
            <div class="buttonWrap">
                <input type="submit">
            </div>
        </form> 
        <form action="/create" method='POST' id="create" class="mainForm">
            <input type="text" name="name" class="mainInput" placeholder="Your Name :)" required>
            <input type="email" name="email" class="mainInput" placeholder="email" required>
            <input type="password" name="password" class="mainInput" placeholder="password" required>
            <div class="buttonWrap">
                <input type="submit">
            </div>
        </form>
    </div>
    </body>
</html>
